<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
  </head>
  <body>
    <h1>Here are some awesome quotes!</h1>
    <a href="/">Back to index</a>
    <% for (var x in users) { %>
      <p><%= users[x].quote %></p>
      <p>-<%= users[x].name %> at <%= users[x].created_at %></p>
      <form action="/delete/<%= users[x].id %>" method="post">
        <button type="Submit" name="button">Delete</button>
      </form>
    <% } %>
  </body>
</html>
