<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Result</title>
    </head>
    <body>
        <div class="container">
            <div class="Thanks">
                <!-- <p>Thanks for submitting this form! You have submitted this form {{ request.session.count }} times now.</p> -->
            </div>
            <h3>Submitted Information1</h3>
              <p>Name: <%= process.name %></p>
              <p>Location: <%= process.location %></p>
              <p>Language: <%= process.language %></p>
              <p>Comment: <%= process.comment %></p>
        </div>
    </body>
</html>
